body {
    background-color: #232323;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    margin: 0 auto;
    max-width: 55%;
}

h1 {
    color: #FFF;
    text-align: center;
}

#message {
    text-align: center;
    margin: 10px;
}

#stripe {
    background: #fff;
    height: 30px;
    text-align: center;
}

.selected {
    background: blue;
}

