body {
    background-color: #232323;
    margin: 0;
    font-family: "Arial", "Avenir";
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.8s;
    -webkit-transition: background 0.8s;
    -moz-transition: background 0.8s;
}

.square:hover {
    cursor: pointer;
}

#container {
    margin: 1.2rem auto;
    max-width: 55%;
}

h1 {
    color: #FFF;
    font-weight: normal;
    text-align: center;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 2rem;
}

#colorDisplay {
    font-size: 2rem;
}

#colorGame {
    display: block;
    margin-top: 1.5rem;
}


#message {
    display: inline-block;
    width: 15%;
    letter-spacing: 1px;
    font-size: inherit;
    font-weight: bold;
}

#stripe {
    background: #fff;
    height: 3rem;
    text-align: center;
}

.selected {
    background: slateblue;
    color: #fff;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    font-family: "Arial", "Avenir";
    font-size: inherit;
    height: 100%;
    color: steelblue;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

button:hover {
    background: steelblue;
    color: #fff;
    cursor: pointer;
}

